#mainTitle{
  font-family: 'Special Elite', cursive;
  font-size: 1.5em;
  margin:auto;


  align-content:center;
  text-align: center;
  margin-top: 2vh;

}
#tinyseparator{
  width: 20vh;
  border-bottom: 1px solid white;
  margin: auto;
}
#jobtitle{
    font-family: 'Changa', sans-serif;
    align-content: center;
    text-align:center;
    font-size: .8em;
}
body {
	/*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  */
/*font-family: 'Changa', sans-serif;*/
  font-display: fallback;
  color:white;
  font-size: 16px;
  background: linear-gradient(-45deg, #855FB2 , #6ED4DB, #EE6FCF , #FF5C6C);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#floating-section{
  width: 90vw;
  border-bottom: 1px solid white;
  margin: auto;
  padding-bottom:2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  align-content: center;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
#sectionHeader{
  font-family: 'Special Elite', cursive;
  text-align:center;

  margin: auto;
  font-size: 1.2em;

}
a{
  color:white;
  font-family: 'Changa', sans-serif;

  margin: 2vw;
  padding: .2vw;
}
#playerbox{
    border: 1px solid white;
    width: 80vw;
    margin: auto;
    margin-top:2vh;
    margin-bottom: 2vh;
    padding: .5vh;
}
#embedded_player{
  width: 79vw;
  padding: .5vh;
  margin:auto;
}
iframe{
  width:100%;
  margin:auto;
}
#credit{
  font-family: 'Changa', sans-serif;
  width: 80%;
  border-bottom: 1px solid white;
  margin: auto;
  padding-top:.5vh;
  padding-bottom:.5vh;
  margin-top: .5vh;
  margin-bottom: .5vh;
}

#content{
font-family: 'Changa', sans-serif;

}

#separator{
  height: 2vh;
}
